<div class='main'>
    <main class='content'>
        <h1>Help Page</h1>
        <div class='row'>
        <div class='col-md-12'>
            <div class='card'>
                <div class='card-header'>
                    <h1>Dashboard</h1>
                </div>
                <div class='card-body'>
                    <p>The Dashboard Page will shows upcoming events that SUITS members can log their attendance. Also, the graph will represent the type of events the member must attend and it tracks the amount of events the member attended.</p>
                    <h3>Log Attendance from Dashboard</h3>
                    <p>Members can also log attendance for the upcoming events from this page.</p>
                    <%= image_tag "UpcomingEventDashboard.PNG", class:'card-img-top' %>
                    <h3>Member Point Tracker</h3>
                    <p>A Bar Graph is used here to track a members progress and compares it to the required amount of points. In the maroon it displays the amount of points a member has earned per event type and the gray is the required amoutn of points per event type.</p>
                    <%= image_tag "MyPointsGraph.PNG", class:'card-img-top' %>
                </div>
            </div>
        </div>
        <div class='col-md-12'>
            <div class='card'>
                <div class='card-header'>
                    <h1>Events</h1>
                </div>
                <div class='card-body'>
                  <p>The Events Page shows all SUITS events and allows users to Log Attendance for open events. </p>
                  <%= image_tag "EventsUserIndex.png", class:'card-img-top' %>
                    <h3>Ordering</h3>
                    <p>To sort the events click one of the blue arrows(as seen above)
                       to sort by that column (ascending or descending depending on the arrow). </p>
                    <h3>Logging Attendance</h3>
                    <p>To log your attendance click the Log Attendance button Next to an event (only works when the event is open). </p>
                    <%= image_tag "Log User Attendance.png", class:'card-img-top' %>
                    <p>To log attendance simply enter the password for the event and click submit attendance as seen above. </p>
                </div>
            </div>
        </div>
        <% if !current_user.gen_member? %>
        <div class='col-md-12'>
            <div class='card'>
                <div class='card-header'>
                    <h1>Admin Events</h1>
                </div>
                <div class='card-body'>
                    <h3>Admin’s Features</h3>
                      <%= image_tag "AdminEventView.png", class:'card-img-top' %>
                      <h3>Adding a New Event</h3>
                      <p>To add a new event simply click Add New Event as seen above and then fill out the event form as seen
                         below. Once you click submit event the event will be added. </p>
                      <%= image_tag "CreateEvent.PNG", class:'card-img-top' %>
                      <h3>Adding Attendances/Deleting Attendances(from events)</h3>
                      <p>This is the Attendances view for events. Here you can see the names and emails of everyone who has
                         attended an event. Here you can delete attendance if you choose to do so.</p>
                      <%= image_tag "EventAttendances.png", class:'card-img-top' %>
                      <p>You may also add an attendance for an event by clicking the Add Attendance for this Event link. You then can
                         click Log Attendance for the specific user and the attendance will be added.  </p>
                        <%= image_tag "LogAttendance.PNG", class:'card-img-top' %>
                         <h3>Editing an Event</h3>
                         <p>To edit an event click edit on the Events page and then make any changes necessary to the form and the event will be updated with them.</p>
                         <h3>Deleting an event</h3>
                         <p>To delete an event click Delete on the Events page and then confirm your Deletion. </p>
                </div>
            </div>
        </div>
        <% end %>
        <% if !current_user.gen_member? %>
        <div class='col-md-12'>
            <div class='card'>
                <div class='card-header'>
                    <h1>Users</h1>
                </div>
                <div class='card-body'>
                    <p>This view shows all the users of the app. For each user you can show, edit or delete their user info. In addition,
                      you can view their attendance record as shown below.</p>
                      <%= image_tag "UsersPage.png", class:'card-img-top' %>
                      <h3>Adding Attendance for User</h3>
                      <p>An Admin can also add an attendance for a specific user by clicking Add Attendance as shown above and then clicking Log Attendance for the specific event as seen below. </p>
                      <%= image_tag "SelectEventAttendance.png", class:'card-img-top' %>
                </div>
            </div>
        </div>
        <% end %>
        <% if !current_user.gen_member? %>
        <div class='col-md-12'>
            <div class='card'>
                <div class='card-header'>
                    <h1>Admin Attendance</h1>
                </div>
                <div class='card-body'>
                    <h3>View Tools</h3>
                    <p>This view shows all Attendances that have been logged. You can sort by Name or the Event Name using the blue arrows highlighted below. </p>
                    <%= image_tag "AdminAttendances.png", class:'card-img-top' %>
                    <p>Should you decide to delete an attendance click the Delete Link for the specific attendance and then confirm your deletion. </p>

                    <h3>Adding Attendances</h3>
                    <p>There are two ways to add attendances. See the events help page to add to a specfic event and see the Users help page to add for a specfic user</p>
                </div>
            </div>
        </div>
        <% end %>

        <div class='col-md-12'>
            <div class='card'>
                <div class='card-header'>
                    <h1>Member Categories (Admins Only)</h1>
                </div>
                <div class='card-body'>
                    <h3>Overview</h3>
                    <p>Member Categories are the way you assign the number of required points for each member. You will assign a specific number of points for any existing event types. You will then assign each member a member category and they will see
                    their respective point requirements when logged in. A new user will be given a default category upon account creation, but can be changed by going to their profile.</p>
                    <h3>Creating New Member Category</h3>
                    <p>To create a new Member Category, you will navigate to the Member Category page found under Admin Tools in the side bar. There you will see all of the existing Member Categories. Above those you will see a button labelled
                     "New Member Category" which when clicked will take you to the New Member Category form. There you will first give the new category a name. You will also see one row with an event type drop down allowing you to select an existing event type, 
                     a field for assigning the required points for that event type, and a button to delete that row. In order to add another event type, you will click the button labelled "Add Event Type" which will generate a new row. Finally, there are options
                     to set the Member Category as a default, which will be explained in more extent below. Once you have finished you will click the button labelled "Create Member category" which will save the Member Category.
                    <h3>Editing Existing Member Categories</h3>
                    <p>To edit a Member Category, you will go to the Member Category page again, but instead of clicking "New Member Category", you will click "Edit" next to the Member Category you wish to edit. This will take you to a form very similar to the New Member Category
                    form, just with the existing settings filled in. You will interact with this form in the same way.</p>
                    <h3>Default Category for</h3>
                    <p>On the new and edit Member Category forms, there is the option to set the Member Category as a default category for either new or old members. When one of those options are selected, new users to the website who stated they are new or old will
                    be automatically assigned these member categories. By default, one is set up for each member type with the default event types all set to 1 point. You can either edit these Member Categories or create a new one and assign it to be default. One last
                    thing to note is that only one Member Category can be default for each of the user types. If you assign a Member Category to be default and another one already was, then the other one will be changed to not be a default.</p>
                     </p>
                    <h3>Assigning Member Category to Users</h3>
                    In order to assign a user to a Member Category, you will navigate to the Users page under Admin Tools. There you will click "Edit" next to the desired user and select the desired Member Category from the drop down

                    <%= image_tag "create_new_mem_cat.gif", class:'card-img-top' %>
                </div>
            </div>
        </div>
        <div class='col-md-12'>
            <div class='card'>
                <div class='card-header'>
                    <h1>Event Types (Admins Only)</h1>
                </div>
                <div class='card-body'>
                    <p>The Event Types page will show the different types of events member can attend. When a member category is created it will include different types of events a member will need to go to for credit.</p>
                    <h3>New Event Types</h3>
                    <p>Admins can add, remove, and edit event types as the organization makes new requirments.</p>
                    <%= image_tag "EventTypes.png", class:'card-img-top' %>
                </div>
            </div>
        </div>
        </div>
    </main>
</div>
