<div class='main'>
    <main class='content'>
        <h1>Help Page</h1>
        <div class='row'>
        <div class='col-md-12'>
            <div class='card'>
                <div class='card-header'>
                    <h1>Dashboard</h1>
                </div>
                <div class='card-body'>
                    <p>The Dashboard Page will shows upcoming events that SUITS members can log their attendance. Also, the graph will represent the type of events the member must attend and it tracks the amount of events the member attended.</p>
                    <h3>Log Attendance from Dashboard</h3>
                    <p>Members can also log attendance for the upcoming events from this page.</p>
                    <%= image_tag "UpcomingEventDashboard.PNG", class:'card-img-top' %>
                    <h3>Member Point Tracker</h3>
                    <p>A Bar Graph is used here to track a members progress and compares it to the required amount of points. In the maroon it displays the amount of points a member has earned per event type and the gray is the required amoutn of points per event type.</p>
                    <%= image_tag "MyPointsGraph.PNG", class:'card-img-top' %>
                </div>
            </div>
        </div>
        <div class='col-md-12'>
            <div class='card'>
                <div class='card-header'>
                    <h1>Events</h1>
                </div>
                <div class='card-body'>
                  <p>The Events Page shows all SUITS events and allows users to Log Attendance for open events. </p>
                  <%= image_tag "EventsUserIndex.png", class:'card-img-top' %>
                    <h3>Ordering</h3>
                    <p>To sort the events click one of the blue arrows(as seen above)
                       to sort by that column (ascending or descending depending on the arrow). </p>
                    <h3>Logging Attendance</h3>
                    <p>To log your attendance click the Log Attendance button Next to an event (only works when the event is open). </p>
                    <%= image_tag "Log User Attendance.png", class:'card-img-top' %>
                    <p>To log attendance simply enter the password for the event and click submit attendance as seen above. </p>
                </div>
            </div>
        </div>
        <% if !current_user.gen_member? %>
        <div class='col-md-12'>
            <div class='card'>
                <div class='card-header'>
                    <h1>Admin Events</h1>
                </div>
                <div class='card-body'>
                    <h3>Admin’s Features</h3>
                      <%= image_tag "AdminEventView.png", class:'card-img-top' %>
                      <h3>Adding a New Event</h3>
                      <p>To add a new event simply click Add New Event as seen above and then fill out the event form as seen
                         below. Once you click submit event the event will be added. </p>
                      <%= image_tag "CreateEvent.PNG", class:'card-img-top' %>
                      <h3>Adding Attendances/Deleting Attendances(from events)</h3>
                      <p>This is the Attendances view for events. Here you can see the names and emails of everyone who has
                         attended an event. Here you can delete attendance if you choose to do so.</p>
                      <%= image_tag "EventAttendances.png", class:'card-img-top' %>
                      <p>You may also add an attendance for an event by clicking the Add Attendance for this Event link. You then can
                         click Log Attendance for the specific user and the attendance will be added.  </p>
                        <%= image_tag "LogAttendance.PNG", class:'card-img-top' %>
                         <h3>Editing an Event</h3>
                         <p>To edit an event click edit on the Events page and then make any changes necessary to the form and the event will be updated with them.</p>
                         <h3>Deleting an event</h3>
                         <p>To delete an event click Delete on the Events page and then confirm your Deletion. </p>
                </div>
            </div>
        </div>
        <% end %>
        <% if !current_user.gen_member? %>
        <div class='col-md-12'>
            <div class='card'>
                <div class='card-header'>
                    <h1>Users</h1>
                </div>
                <div class='card-body'>
                    <p>This view shows all the users of the app. For each user you can show, edit their user info. In addition, you can view their attendance record as shown below.</p>
                      <%= image_tag "UsersPage.png", class:'card-img-top' %>
                      <h3>Deleting a User</h3>
                      <p>To delete a user click the show to view the User Details and then click destroy to delete the user from the app database.</p>
                      <%= image_tag "DestroyUser.png", class:'card-img-top' %>
                      <h3>Adding Attendance for User</h3>
                      <p>An Admin can also add an attendance for a specific user by clicking Add Attendance as shown above and then clicking Log Attendance for the specific event as seen below. </p>
                      <%= image_tag "SelectEventAttendance.png", class:'card-img-top' %>
                </div>
            </div>
        </div>
        <% end %>
        <% if !current_user.gen_member? %>
        <div class='col-md-12'>
            <div class='card'>
                <div class='card-header'>
                    <h1>Admin Attendance</h1>
                </div>
                <div class='card-body'>
                    <h3>View Tools</h3>
                    <p>This view shows all Attendances that have been logged. You can sort by Name or the Event Name using the blue arrows highlighted below. </p>
                    <%= image_tag "AdminAttendances.png", class:'card-img-top' %>
                    <p>Should you decide to delete an attendance click the Delete Link for the specific attendance and then confirm your deletion. </p>

                    <h3>Adding Attendances</h3>
                    <p>There are two ways to add attendances. See the events help page to add to a specfic event and see the Users help page to add for a specfic user.</p>
                </div>
            </div>
        </div>
        <% end %>

        <div class='col-md-6'>
            <div class='card'>
                <div class='card-header'>
                    <h1>Member Categories</h1>
                </div>
                <div class='card-body'>
                    <h3>Add Header 3</h3>
                    <p>Add text here.</p>
                </div>
            </div>
        </div>
        <div class='col-md-6'>
            <div class='card'>
                <div class='card-header'>
                    <h1>Event Types</h1>
                </div>
                <div class='card-body'>
                    <h3>Add Header 3</h3>
                    <p>Add text here.</p>
                </div>
            </div>
        </div>
        <div class='col-md-6'>
            <div class='card'>
                <div class='card-header'>
                    <h1>My Profile</h1>
                </div>
                <div class='card-body'>
                    <h3>Add Header 3</h3>
                    <p>Add text here.</p>
                </div>
            </div>
        </div>
        </div>
    </main>
</div>
