<div class='main'>
	<main class='content'>
		<div class='col-md-12'>
			<div class='card'>
				<div class='card-header'>
					<h1> Upcoming Events </h1>
				</div>
				<div class='table-responsive'>
					<table class="table table-hover table-striped">
						<thead class='header'>
							<tr>
								<th>Event Name </th>
								<th>Event Location </th>
								<th>Event Date </th>
								<th>Event Type </th>
								<th>Event Open </th>
								<th>Event Description</th>
								<th>Action</th>
							</tr>
						</thead>
						<% @events.each do |event| %>
						<tr>
							<td><%= event.event_name %> </td>
							<td><%= event.location %></td>
							<td><%= event.date.strftime("%m/%d/%Y %I:%M %p") %></td>
							<td><%= event.event_type.name %></td>
							<td><%= event.is_open ? "Yes" : "No" %></td>
							<td><%= event.event_description %></td>
							<td class = actions>
								<% if !current_user.gen_member? %>
									<%= link_to("Event Attendances", event_path(event), :class => 'action view' ) %> -
									<%= link_to("Edit", edit_event_path(event), :class => 'action edit') %> -
									<%= link_to("Delete", delete_event_path(event), :class => 'action delete') %> -
								<% end %>
								<%= link_to_if(event.is_open, "Log Attendance", new_attendance_path(events_id: event.id, events_passcode_hash: event.passcode_hash, users_id: current_user.id )) %>
							</td>
						</tr>
						<% end %>
					</table>
				</div>
				<div class="card-header">
					<h1>My Points Chart</h1>
				</div>
				<div class='card-body'>
					<%= render 'shared/graph' %>
				</div>
			</div>
		</div>
	</main>
</div>


