<nav id="sidebar" class="sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" >
      <span class="align-middle">SUITS App</span>
    </a>
    <ul class="sidebar-nav">
      <li class="sidebar-header">
        Pages
      </li>

      <li class="sidebar-item">
        <%= link_to 'Dashboard', dashboard_index_path, class: "sidebar-link" %>
      </li>

      <li class="sidebar-item">
        <%= link_to 'Events', events_path, class: "sidebar-link"%>
      </li>

      <% if !current_user.gen_member? %>
      <li class="sidebar-item">
        <%= link_to 'Users', user_infos_path, class: "sidebar-link"%>
      </li>
      <% end %>

      <li class="sidebar-item">
        <%= link_to 'Attendance', user_attendance_path(current_user), class: "sidebar-link"%>
      </li>

      <% if current_user.master? %>
        <li class="sidebar-item">
        </li>
      <% end %>

      <li class="sidebar-item">
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "sidebar-link" %>
      </li>
    </ul>
  </div>
</nav>