<%= form_with(model: @user_info) do |form| %>
   

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <% if !current_user.user_info.gen_member? %>
    <div class="field">
      <%= form.label :member_status %>
      <%= form.select  :member_status, UserInfo.member_statuses.map { |key, value| [key.humanize, key] }%>
    </div>

    <div class="field">
      <%= form.label :member_category %>
      <%= form.collection_select  :member_category_id, MemberCategory.all, :id, :name%>
    </div>

  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
