<div class='main'>
  <main class='content'>
    <div class='col-md-12 center-items'>
      <div class='card center-items'>
        <div class='card-header'>
          <h1>Add Admins</h1>

          <%= if current_user.user_info.gen_member?
            controller.redirect_to dashboard_index_path end
          %>
        </div>
        <div class='table-responsive'>
          <table class='table table-hover table-striped'>
            <thead class="header">
              <tr>
                <th>First name</th>
                <th>Last name</th>
                <th colspan="1"></th>
              </tr>
            </thead>

            <tbody>
              <% @user_infos.each do |user_info| %>
                <tr>
                  <td><%= user_info.first_name %></td>
                  <td><%= user_info.last_name %></td>
                  <% if !user_info.admin? %>
                    <td><%= link_to 'Add Admin', promote_to_admin_path(user_info) %></td>
                  <% else %>
                    <td>Current Admin</td>       
                  <% end %>       
                </tr>
              <% end %>
            </tbody>
             <%= link_to 'Back', admins_path, class: 'btn btn-primary'%>
          </table>
        </div>
      </div>
    </div>
  </main>
</div>