<div class='main'>
  <main class='content'>
    <div class='col-md-12 center-items'>
      <div class='card center-items'>
        <div class='card-body'>
          <p id="notice"><%= notice %></p>

          <% if  @user_info.id == current_user.user_info.id %>
            <h1>My Profile</h1>
          <% else %>
            <h1> <%= @user_info.first_name %> 's Profile </h1>
          <% end %>

          <p>
            <strong>Email:</strong>
            <%=  @user_info.user.email %>
          </p>

          <p>
            <strong>First Name:</strong>
            <%= @user_info.first_name %>
          </p>

          <p>
            <strong>Last Name:</strong>
            <%= @user_info.last_name %>
          </p>

          <p>
            <strong>Member Status:</strong>
            <%= @user_info.member_status %>
          </p>

          <p>
            <strong>Member Category:</strong>
            <% if @user_info.member_category %>
              <%= @user_info.member_category.name %>
            <% else %>
              None
            <% end %>
          </p>

          <%= link_to 'Edit', edit_user_info_path(@user_info) %> 
          <% if !current_user.user_info.gen_member? %>
            <%= link_to 'Back', user_infos_path%> 
            <%= link_to 'Destroy', @user_info, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
        <div class="card-header">
        <% if  @user_info.id == current_user.user_info.id %>
          <h1>My Points Chart</h1>
        <% else %>
          <h1> <%= @user_info.first_name %> 's Points Chart </h1>
        <% end %>
      </div>
      <div class='card-body'>
        <% if  @user_info.member_category != nil %>
          <%= render :partial => "shared/graph", :locals => {:user_info => @user_info} %>
        <% else %>
          <p>No Member Category Found for Points</p>
        <% end %>
      </div>
      </div>
    </div>
  </main>
</div>
