<div class='main'>
  <main class='content'>
    <div class='col-md-4 center-items'>
      <div class='card center-items'>
        <div class='card-body'>
          <p id="notice"><%= notice %></p>

          <p>
            <strong>First name:</strong>
            <%= @user_info.first_name %>
          </p>

          <p>
            <strong>Last name:</strong>
            <%= @user_info.last_name %>
          </p>

          <p>
            <strong>Member status:</strong>
            <%= @user_info.member_status %>
          </p>

          <%= link_to 'Edit', edit_user_info_path(@user_info) %> 
          <%= link_to 'Back', user_infos_path %>
        </div>
      </div>
    </div>
  </main>
</div>