<header>
	<%= stylesheet_link_tag "application.css" %>
</header>
<div class='main'>
	<main class='content'>
		<div class="col-12 col-md-6 col-lg-4 center-items">
			<div class="card center-items">
				<%= image_tag "SUITS-logo.png", class:'card-img-top' %>
				<div class="card-header center-items">
					<h1>SUITS App Sign In</h1>
				</div>
				<% if current_user.nil? %>
						<div class="card-body center-items">
							<%= link_to new_user_session_path, class: 'btn btn-primary login-button' do %>Sign in<% end %>
						</div>
				<% else %>
					<div class="card-body center-items">
						<%= link_to dashboard_index_path, class: 'login-button' do %>Go to App<% end %>
						<%= link_to destroy_user_session_path(protocol: 'https'), method: :delete do %>Log out<% end %>
					</div>
				<% end %>
			</div>
		</div>
	</main>
</div>