<div class='main'>
  <main class='content'>
    <div class='col-md-12 center-items'>
      <div class='card center-items'>
        <div class='card-header'>
          <h1>Member Categories</h1>
        </div>
        <div class='card-body'>
          <%= link_to 'New Member Category', new_member_category_path, class: "btn btn-primary" %>
        </div>
        <div class='table-responsive'>
          <table class='table table-hover table-striped'>
            <thead class='header'>
              <tr>
                <th>Name</th>
                <th>Event Types</th>
                <th>Required Points</th>
                <th>Default?</th>
                <th colspan="4"></th>
              </tr>
            </thead>
            
            <tbody>
              <% @member_categories.each do |member_category| %>
                <tr>
                  <td><%= member_category.name %></td>
                  <td>
                    <% member_category.category_rulesets.each do |category_ruleset| %>
                      <%= EventType.find(category_ruleset.event_type_id).name %><br>
                    <% end %>
                  </td>
                  <td>
                    <% member_category.category_rulesets.each do |category_ruleset| %>
                      <%= category_ruleset.points %><br>
                    <% end %>
                  </td>
                  <td>
                    <%=member_category.default_for %>
                  </td>
                  <td><%= link_to 'Edit', edit_member_category_path(member_category) %></td>
                  <td><%= link_to 'Destroy', member_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
</div>


