<%= form_with(model: @event) do |e| %>


<%
et = Array.new
@event_types.each do |e|
  et.push(e.name)
end
%>

    <table>
      <tr>
        <th>Event Name</th>
        <td><%= e.text_field(:event_name)%></td>
      </tr>
      <tr>
        <th>Event Location</th>
        <td><%= e.text_field(:location)%></td>
      </tr>
      <tr>
        <th>Event Date</th>
        <td><%= e.date_select(:date, :order =>[:month,:day,:year]) %></td>
      </tr>
      <tr>
        <th>Event Description</th>
        <td><%= e.text_field(:event_description)%></td>
      </tr>
      <tr>
        <th>Event Passcode</th>
        <td><%= e.text_field(:passcode)%></td>
      </tr>
      <tr>
        <th>Event Open</th>
        <td><%= e.check_box(:is_open) %></td>
      </tr>
      <tr>
        <th>Event Type</th>
        <td> <%= e.select :event_type, options_for_select(et)%></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= e.submit("Submit Event") %>
    </div>

  <% end %>
