

<div>
  <h2> Events </h2>
    <%= link_to("Dashboard", dashboard_index_path)%>
    <br>
    <%= link_to("Add New Event", new_event_path)%>

    <table class="listing">
      <tr class="header">
        <th>Event Name</th>
        <th>Event Location</th>
        <th>EventDate</th>
        <th>Event Descripition</th>
        <th>Event Open</th>
        <th>Action</th>
      </tr>
      <% @events.each do |event| %>
      <tr>
        <td><%= event.event_name %></td>
        <td><%= event.location %></td>
        <td><%= event.date %></td>
        <td><%= event.event_descripition %></td>
        <td><%= event.open ? "Yes" : "No" %></td>
        <td class = actions>
          <%= link_to("View", event_path(event), :class => 'action view' ) %>
          <%= link_to("Edit", edit_event_path(event), :class => 'action edit') %>
          <%= link_to("Delete", delete_event_path(event), :class => 'action delete') %>
        </td>
      </tr>

      <% end %>
    </table>
</div>
