<div class='main'>
  <main class='content'>
    <div class='col-md-12 center-items'>
      <div class='card center-items'>
        <div class='card-header'>
          <h2> Events </h2>
        </div>
        <div class='card-body'>
          <%#= link_to("Dashboard", dashboard_index_path)%>
          <br>
          <% if !current_user.gen_member? %>
          <%= link_to("Add New Event", new_event_path)%>
          <% end %>
        </div>

        <div class="button">click me</div>
<div class="dropdown">
    <a href="">link1</a>
    <a href="">link2</a>
    <a href="">link3</a>
    <a href="">link4</a>
</div>



        <p> <%= link_to "ASC", sort: :asc, name: "name" %> </p>
        <p> <%= link_to "DESC", sort: :desc, name: "name" %> </p>



       </div>

        <div class='table-responsive'>
        <table class="table table-hover table-striped">
          <thead class='header'>
            <tr>
              <th>Event Name</th>
              <th>Event Location</th>
              <th>EventDate</th>
              <th>Event description</th>
              <th>Event Type</th>
              <th>Event Open</th>
              <th>Action</th>
            </tr>
          </thead>
          <% @events.each do |event| %>
          <tr>
            <td><%= event.event_name %></td>
            <td><%= event.location %></td>
            <td><%= event.date %></td>
            <td><%= event.event_description %></td>
            <td><%= event.event_type.name %></td>
            <td><%= event.is_open ? "Yes" : "No" %></td>
            <td class = actions>
              <% if !current_user.gen_member? %>
                <%= link_to("View", event_path(event), :class => 'action view' ) %>
                <%= link_to("Edit", edit_event_path(event), :class => 'action edit') %>
                <%= link_to("Delete", delete_event_path(event), :class => 'action delete') %>
              <% end %>
              <%= link_to_if(event.is_open, "Log Attendance", new_attendance_path(events_id: event.id, events_passcode_hash: event.passcode_hash, users_id: current_user.id )) %>
            </td>
          </tr>

          <% end %>
        </table>
        </div>
      </div>
    </div>
  </main>
</div>
