<div class='main'>
  <main class='content'>
    <div class='col-md-12 center-items'>
      <div class='card center-items'>
        <div class='card-header'>
          <h2> Events </h2>
          <%= link_to("Dashboard", dashboard_index_path)%>
          <br>
      
          <%= if current_user.gen_member?
            redirect_to "dashboard", dashboard_index_path
          end 
          %>
        </div>
        <div class='table-responsive'>
          <table class="table table-hover table-stripped">
            <thead class='header'>
              <tr class="header">
                <th>Event Name</th>
                <th>Event Location</th>
                <th>EventDate</th>
                <th>Event description</th>
                <th>Event Open</th>
                <th>Action</th>
              </tr>
            <thead>
            <% @events.each do |event| %>
            <tr>
              <td><%= event.event_name %></td>
              <td><%= event.location %></td>
              <td><%= event.date %></td>
              <td><%= event.event_description %></td>
              <td><%= event.is_open ? "Yes" : "No" %></td>
              <td class = actions>
                <%= button_to("Log Attendance", attendances_path(:attendance => {:events_id => event.id, :users_id => @user_info.id, :events_passcode => event.passcode, :passcode => event.passcode}), :method => :post) %>
              </td>
            </tr>
      
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </main>
</div>
