
<div class='main'>
  <main class='content'>
    <div class='col-md-6 center-items'>
      <%= link_to_if(@event.is_open, "Log Attendance", new_attendance_path(events_id: @event.id, events_passcode_hash: @event.passcode_hash, users_id: current_user.id )) %>

    <% if !current_user.gen_member? %>
      <p><%= link_to("Admin add attendance", select_user_path(@event)) %></p>
    <% end %>

    <% if !current_user.gen_member? %>
      <div class='card center-items'>
        <div class='card-header'>
          <h1> Attendances for event <%= @event.event_name %></h1>
        </div>
      </div>
        <table class=" table table-responsive table-hover">
          <tr class="header">
            <th>User Name</th>
            <th>User Email</th>
            <th>User ID</th>
          </tr>
        <% @event.attendances.each do |attend| %>
          <tr>
            <% if attend.user_info then %>
              <td><%= attend.user_info.first_name + " " + attend.user_info.last_name %></td>
            <% else %>
              <td> No name found </td>
            <% end %>
            <td><%= attend.user.email %></td>
            <td><%= attend.user.id %></td>
          </tr>
          <% end %>
          </table>
      <% end %>
    </div>
  </main>
</div>

