
<div class='main'>
  <main class='content'>
    <div class='col-md-6 center-items'>
      <% if !current_user.gen_member? %>
        <h3><%= link_to("Add Attendance for this Event", select_user_path(@event)) %></h3>
      <% end %>
      <% if !current_user.gen_member? %>
        <div class='card center-items'>
          <div class='card-header'>
            <h1> Attendances for Event: <%= @event.event_name %></h1>
          </div>
        
          <div class='table-responsive'>
            <table class=" table table-striped table-hover">
              <tr class="header">
                <th>First Name</th>
                <th>Last Name</th>
                <th>User Email</th>
                <th>Delete Attendance</th>
              </tr>
              <% @event.attendances.each do |attend| %>
                <tr>
                  <% if attend.user_info then %>
                    <td><%= attend.user_info.first_name %></td>
                    <td><%= attend.user_info.last_name %> </td>
                  <% else %>
                    <td> No name </td>
                    <td> No name </td>
                  <% end %>
                  <td><%= attend.user.email %></td>
                  <td> <%= link_to("Delete", delete_attendance_path(attend), :class => 'action delete') %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  </main>
</div>
